.car__card{
    display: block;
   
    justify-content: center;
    padding: 100px;
    
}
.card{
    padding:10px;
    margin-left:10px;
    margin-bottom: 20px;
    border-radius: 20px;
 
    border:2px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-text{
    background-color: aliceblue;
}
.car__classification{
    font-size: 20px;
    color:brown;
    font-weight: 600;
}
.car_name{
    font-size:15px;
    color:black;
    font-weight: 600;

}

.slider__arrow__container{
    
    display: flex;
    position: relative;
    margin-bottom: 20px;
    
}
.slider__arrow{
    margin-left: 230px;
}
.arrows{
    cursor: pointer;
    font-size: 15px;
     margin-right: 30px;
 }
.slider__container{
    position: relative;
    left:40px;
    height: 200px;
    align-items: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
}
.card-img-top{
   height:inherit;
}
.slider{
    display: flex;
    
    width: 400px;
    height: 200px;
}



.card__features-body{
   
    padding:30px;
}
.card__features{
    margin-left: 20px;
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
   

}
.transmission__image{
    width:20px;
    height: 20px;
    margin-right: 10px;
}

.icons{
    margin-right:10px;
    margin-top: 4px;
}
.features{
    margin-right: 20px;
}
.car__price{
    display: flex;
    text-align: center;
    justify-content: center;
}
.total__price{
   color:rebeccapurple;
   font-weight: 600;
}
.daily__price{
    font-size:14px;
    margin-left: 20px;
}
.pay__button-area{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.pay__button{
    width: 100px;
    border:none;
    background-color: rgb(255, 183, 0);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 50px;
}


/*FILTER */
.filter__container{
    background-color: antiquewhite;
    position: relative;
    top:50px;
    height: 600px;
    border-radius: 10px;
    border:1px solid black;
    padding:30px;
}
.filter__categories{
    margin-top:40px;
    padding:10px;
  
    border-radius: 20px;
}

.categories__item{
    border:1.4px solid black;
    padding:10px;
    border-radius: 10px;
    margin-bottom:20px;
}
.item__form-check{
    display: flex;
}

input.custom {
    accent-color: rebeccapurple;
    margin-right: 20px;
    margin-top: 4px;
    accent-color: auto;
    display: block;
    width: 15px;
    height: 15px;
  }


  @media only screen and (max-width:768px) {
    .card{
        min-width: 340px!important;
        margin-left:4px;
 
       }
       .arrows{
        position: relative;
        right:90px;
    }
   
    .card__features{
        display:flex;
       
    }
    .slider__container{
        display: flex;
        justify-content: center;
     
        left:50px;
    }

   
 
 
 


}
@media only screen and (max-width:576px) {
 
    .slider__container{
        left:0px;
    }

}

















/* 
@media only screen and (max-width:768px) {
 
    .card{
     min-width: 340px!important;
     margin-left:0px;
    }
.arrows{
    position: relative;
    right:60px;
 }
 
 .card__features{
     display: block;
 }
 
.slider__container{
    display: flex;
    justify-content: center;
    padding: 20px;
    left:0px;
}
.card-img-top{
    padding:10px;
 }
 .filter__container{
    width:400px!important;
}
.filter{
  justify-content: center;
  display: flex;  
}
}
@media only screen and (max-width:767px) {
   .card{
    margin-left:0px;
   }
    .slider__container{
       
        left:0px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024) {
    .card__features-body{
        margin-left: 40px;
       
    }
    
    
    }
 */



