.nbr{
  
    
}
.car__card{
    display: grid;
    grid-template-columns: 413px 413px ;
    column-gap: 120px;
    row-gap: 50px;
    padding: 70px;
    position: relative;
 
    
}
.carlist__cards{
    padding: 0px;
    border-radius: 20px;
    background-color: #ececec6f;
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 12px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-text{
    background-color: aliceblue;
}
.car__classification{
    font-size: 23px;
    color:rgb(130, 65, 21);
    font-weight: 600;
    position: relative;
    left: 40px;

   
}
.car_name{
    font-size:20px;
    color:black;
    font-weight: 600;
}
.slider__container{
    display: flex;
    justify-content: center;
}
.card-img-top__carlist{
   width: 430px;
   margin-top: 30px;
   height:inherit;
}
.card__features{
    font-size: 15px;
    position: relative;
    justify-content: center;
    display: block;
    
}
.transmission__image{
    width:20px;
    height: 20px;
    margin-right: 10px;
}

.icons{
    margin-right:10px;
    margin-top: 4px;
}

.car_name{
    display: flex;
    justify-content: center;
    text-align: center;
}
.car__price{
    top:20px;
    align-items: center;
    position: relative;
    display:flex;
    justify-content: center;
    
}
.dm{
    border:3px solid  #7e8b54;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  #7e8b54 1.95px 1.95px 2.6px;
    font-weight: 600;
}
.car__features_cont{
   border-radius: 30px;
    
    border-left: none;
    
    border-right: none;
    padding: 20px;
}

.total__price{
 
    
   color:rgb(59, 157, 23);
   font-weight: 600;
}
.daily__price{
    
    margin-left: 20px;
}
.pay__button-area{

    
}
.pay__button{
    width: 100px;
    border:none;
    background-color: #7e8b54;
    border-radius: 20px;
    box-shadow: rgba(53, 79, 5, 0.15) 0px 5px 15px 0px;
    height: 50px;
    outline :none;
    color:  rgb(255, 255, 255);
    transition:  0.3s ease-out;
    position: relative;
    left: 200px;
}
.pay__button:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(36, 97, 10, 0.021);
    color:#ffffff;
}
.search__button{
    width:150px!important;
    height: 30px;
    position: relative;
    top:20px;
    float: right;
    border-radius: 3px;
    border:1px solid rgb(172, 161, 161); 
}

.card:hover{
    transform: scale(1);
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.5);
}
/*FILTER */
.filter__container{
    background-image: linear-gradient(to bottom left, rgb(245, 243, 243),rgb(245, 243, 243),rgba(77, 111, 122, 0.717),rgb(245, 243, 243), rgb(248, 248, 248));
    position: relative;
    top:50px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    padding:30px;
}
.filter__categories{
    margin-top:40px;
    padding:10px;
    border-radius: 20px;
}

.categories__item{
    border:1.4px solid black;
    padding:10px;
    border-radius: 10px;
    margin-bottom:20px;
}
.item__form-check{
    display: flex;
}

input.custom {
    accent-color: rebeccapurple;
    margin-right: 20px;
    margin-top: 4px;
    display: block;
    width: 15px;
    height: 15px;
  }


@media only screen and (max-width:576px) {
 

    .card{
        text-align: center;
        margin-left:0px;
       
    }
    .card__features-body{
        font-size:14px;
        padding:0px;
        text-align: center;
        
    }
    .card__features{
        display: block;
    }
   
    .pay__button{
        width: 80px;
        margin-bottom: 20px;
        height: 40px;
    }
    .slider__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  

}
