    .home__car__slide__title {
        position: relative;
       
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #4c6c80;
    }

    .slide__cars__name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 10px;
    }

    .home__car__slide__container {
        padding: 30px;
        position: relative;
        width: 80%;
      
        left: 140px;
        text-align: center;
        background: #d1beaa73;
        border-radius: 10px;
        box-shadow: rgb(5, 5, 4) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    

    }

    .car__slide__card__area {
        text-align: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        padding: 40px;
        text-overflow: ellipsis;
    }

    .car__slide__card {
        border-radius: 50px;
        border: none;
        width: 250px;
        max-height: 200px;
        height: inherit;
        padding: 30px;
        background-image: radial-gradient(rgb(244, 244, 244)5%, #576d81ab 80%);
        box-shadow: rgba(61, 68, 74, 0.25) 0px 14px 28px;
    }

    .slide__cars_img {
        width: 180px;
    }