.customer__service__container{
    position: relative;
    top:330px;
    display: block;

}
.customer_main__title{
    font-size: 50px;
    color: #b49678;
}
.customer__header{
    position:relative;
    text-align: center;
   left: 300px;
}
.customer__subtitle{
    
    margin-bottom: 10px;
}
.customer__service__line{
    border:3px solid #3e4d5d!important;
    width: 220px;
    margin-left: 300px!important;
    color: #3e4d5d!important;
  
}
.customer__service_card-container{
    position:relative;
    left: 100px;
    display: grid;
    
    grid-template-columns: 550px 550px;
    column-gap: 100px;
    margin-bottom: 60px;
}

.customer_service_card{
    background-color: #ede2d6 ;
    padding: 30px;
    box-shadow: rgba(73, 115, 137, 0.25) 0px 6px 12px -2px, rgba(169, 146, 31, 0.3) 0px 3px 7px -3px;
    
}
.customer_service_card h3{
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.customer_service_card h3:hover{
    color:#3e4d5d;
    transition: 0.3s all;
}
.customer_services_icon{
    color:#345e85;
    background-color:#e7d2bc ;
    width: 40px;
    height: 40px;
    padding: 5px 5px 4px ;
    border-radius: 4px;
    box-shadow: rgba(24, 41, 50, 0.25) 0px 6px 12px -2px, rgba(63, 55, 13, 0.3) 0px 3px 7px -3px;
}