@import url("https://cdn.syncfusion.com/ej2/material.css");

.home__slide__bg{
  z-index: -1;
  height: 680px;
  
  
}
.background__image {
  width:140%;
  height:680px;
}

.slogan__container {
  position: absolute;
  top:180px;
  line-height: 1.1;
  border-radius: 20px;
  left: 60px;
  color:  #b49678; 
  padding: 30px;
  font-weight: 620;
  

  
}
.big{
  color: #11607f;
}
.slogan__main__title {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.book_ride_btn {
color: #11607f;
font-weight: 600;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 5px;
  font-size: 23px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color:  #baa58f;
}
.book_ride_btn::before {  
  transform: scaleX(0);
  transform-origin: bottom left;
 
}

.book_ride_btn:hover::before {
  transform: scaleY(1);
  transform-origin: bottom left;
 
}
.book_ride_btn:hover {
  color:#ffffff;
}


.book_ride_btn::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  background: #11607f;
  z-index: -1;
  transition: .3s ease;
  border-radius: 5px;

}

.as {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.reservation__container {
  z-index: 1;
  position: absolute;
  max-width: inherit;

}
.search__car__container {
  background-image: linear-gradient(to bottom right,rgb(219, 217, 217),#d3d8da,#9db1c7);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 39px;
 
}

.search_car_icons {
  color:#306e7c;
}

.form-select-title {
  display: block;
  font-weight: 600;
  color: #3d3934;
}

.form-select {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #fffffff2!important;
  text-align: center;
}

.time_date {
  margin-left: 30px;
  display: block;
}

.date__cont {
  margin-top: 50px;
}

.date {
  border-radius: 5px;
  height: 38px;
  border: none;
  text-align: center;
  position: relative;
  bottom: 30px;
  border-color: #ffffff!important;
  background-color: #fffffff2!important;
  width: 250px;
  border:1px solid #ced4da!important;
}

.time {
  position: relative;
  top: 48px;
}
.times{
  background-color: #fffffff2!important;
  height: 28px!important;
  border-radius: 5px!important;
  text-align: center;
  border:1px solid #ced4da!important;
}
.e-time-icon{
  color:#306e7c!important;
  margin-left: 10px;

}
.e-time-wrapper {
  margin-bottom: 80px !important;
}
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
  border-color: transparent;
}
.flag {
  padding: 10px;
  background-color: #11607f;
  left: 714.1px;
  bottom: 290px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: inherit;
  color: aliceblue;
}
.car__search-button {
  color: #306e7c;
  position: relative;
  right: 490px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  top: 130px;
  background-color: #ffffff;
  padding: 7px 32px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.car__search-button:hover {
  color: rgb(0, 0, 0);
}
input::placeholder {
  color: rgb(0, 0, 0) !important;
  font-weight: 500;
}
.error-massage {
  position: absolute;
  margin-top: 0px;
  left: 20px;
  font-weight: 600;
  color: rgb(122, 33, 3);
}

.time-error-massage {
  position: absolute;
  margin-top: 0px;
  left: 190px;
  font-weight: 600;
  color: rgb(122, 33, 3);
}
.back-to-top {
  position: fixed;
  bottom: 0px;
  width: 60px;
  font-size: 25px;
  background: #576d81;
  color: white;
  cursor: pointer;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  z-index: 999999;
}
.back_to_top_button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top:hover {
  background: #0a2f37;
}
.home__customer__services__area{
  margin-bottom: 300px;

}
.home__howitwork__area{
  margin-bottom: 200px;

}
.home__ourcars__area{

 position: relative;
 margin-bottom: 30px;
 padding: 30px;
}

@media only screen and (max-width : 768px) {


  .search__car__container {
    display: block;
    width: inherit;
    height: inherit;
    align-items: center;
    text-align: center;
    padding: 40px;


  }

  .form-select-title {


    display: block;
    color: rgb(234, 229, 224);
    text-align: center;
  }

  .time_date {

    margin-left: 0px;
    display: block;
    text-align: center;
    border: none;

  }

  .car__search-button {


    right: 0px;

    top: 0px;

    padding: 15px 32px;



  }

  .time {
    margin-top: 5px;
  }

  .e-time-wrapper {
    margin-bottom: 0px !important;
  }

}

@media only screen and (min-width: 768px) and (max-width : 992px) {
  .search__car__container {

    width: inherit;
    height: inherit;
    align-items: center;
    text-align: center;
    padding: 60px;
  }

  .form-select {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    right: 50px;

  }

  .time_date {

    margin-left: 0px;

  }
  .car__search-button {
    top: 100px;
  }

  .time {
    margin-left: 60px;
  }

}