@import url("https://cdn.syncfusion.com/ej2/material.css");

.background__image {
  width: 1423px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search__car__container {
  background-color: rgba(240, 248, 255, 0.516);
  border-radius: 20px;
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 30px;

}
.form-select-title{
  display: none;
}
.form-select {
  margin-top: 20px;
  margin-bottom: 30px;

}

.time_date {

  margin-left: 30px;
  display: block;
  text-align: center;
  border-left: 1px solid rgba(12, 8, 8, 0.24);
}

.date__cont {
  margin-top: 39px;
}

.date {
  border-radius: 5px;
  height: 38px;
  border: none;
  position: relative;
  bottom: 19px;
}

.time {
  margin-top: 30px;

}

.e-time-wrapper {
  margin-bottom: 40px !important;
}

.car__search-button {
 color:blueviolet;
  position:relative;
  right: 150px;
  border: none;
  border-radius: 10px;
  top:130px;

  padding: 15px 32px;
  

  
}
.car__search-button:hover {
color:rgb(85, 0, 164);

}

input::placeholder {
  color: rgb(133, 74, 1) !important;

}
@media only screen and (max-width : 768px) {
  

  .search__car__container {
    display: block;
    width: 900px;
    height: inherit;
    align-items:center;
    padding: 10px;
    position: relative;
    left:40px;
  }

  .form-select-title{
   
    
    display: block;
    color:rgb(136, 89, 32);
    text-align: center;
  }

  .time_date {
    
    margin-left: 0px;
    display: block;
    text-align: center;
    border:none;
    
  }
  .react-datepicker__month-container {
    float: left;
  }
  .car__search-button{
    position:relative;
    right: 130px;
    top:280px;
  
  }
  .time{
    margin-top: 5px;
  }
  
  }