.howitworks__container {
         top: 120px;
        position: relative;
}

.howitworks__header {
        text-align: center;
}

.howitworks_main__title {
        color: rgb(150, 150, 150);
}

.steps__container {
        display: grid;
        gap: 50px;
        grid-template-columns: auto auto auto;
        padding: 20px;
        margin-left: 330px;
        margin-top: 100px;
        align-items: center;
        text-align: center;
}

.howitwork_icon {
        font-size: 34px;
        background-color: rgba(128, 128, 128, 0.208);
        
         /* background-image: linear-gradient(#c8ccd3,#3e4d5d); */
        border: 3px solid rgb(255, 255, 255);
        color: #3e4d5d;

        border-radius: 100px;
        width: 100px;
        padding: 30px 20px 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.howitwork_line {
        width: 180px;
        height: 200px;
        position: absolute;
        top: 160px;
        left: 470px;
        display: flex;
        justify-content: space-around;
}

.howitwork_line1 {
        width: 180px;
        height: 200px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        left: 790px;
        top: 150px;
}
.steps__description{
        position: relative;
        left:240px;
        justify-content: space-around;
        display: flex;
}

